<div class="container my-4">
  <!-- Header Row: Title + Add Button -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">{{ collectionName | titlecase }}</h2>
    <!-- Show + button only for collections that allow creation -->
    <button *ngIf="canCreate" class="btn btn-secondary" (click)="openModal()"> <!--(click)="openAddModal()"-->
      + Add {{ collectionName }}
    </button>
  </div>

  <!-- Dynamic modal placeholder -->
  <ng-template #modalContainer></ng-template>

  <div class="container my-4">
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let doc of documents">
        <div class="h-100 d-flex justify-content-center">
          <ng-container *ngIf="dynamicComponent" [ngComponentOutlet]="dynamicComponent"
            [ngComponentOutletInjector]="createInjector(doc)">
          </ng-container>
        </div>
      </div>
    </div>
  </div>