// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0,0,0,0.25);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   z-index: 1050;
// }

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  min-width: 350px;
  max-width: 500px;
  width: 90%;
  z-index: 1060; /* higher than backdrop */
}



