<!-- <div class="modal-container">
  <h3>{{ mode === 'create' ? 'Add New' : 'Update' }}</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Name</label>
      <input formControlName="name" class="form-control" />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>

    <div class="form-group" *ngIf="categories.length">
      <label>Category</label>
      <select formControlName="category" class="form-control">
        <option value="">
          {{ categories.length ? 'Select specialty' : 'Loading...' }}
        </option>
        <option *ngFor="let s of categories" [value]="s._id.toString()">
          {{ s.name }}
        </option>
      </select>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" id="isActive" class="form-check-input" formControlName="isActive" />
      <label for="isActive" class="form-check-label">
        Active
      </label>
    </div>

    <div class="modal-actions">
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      <button type="submit" class="btn btn-primary">
        {{ mode === 'create' ? 'Add' : 'Update' }}
      </button>
    </div>
  </form>
</div> -->



<div class="modal-container">
  <h3>{{ mode === 'create' ? 'Add New' : 'Update' }}</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Name</label>
      <input formControlName="name" class="form-control" />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>

    <div class="form-group" *ngIf="categories.length">
      <label>Category</label>
      <select formControlName="Category" class="form-control">

        <option value="">
          {{ categories.length ? 'Select Category' : 'Loading...' }}
        </option>
        <option *ngFor="let s of categories" [value]="s._id.toString()">
          {{ s.name }}
        </option>
      </select>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" id="isActive" class="form-check-input" formControlName="isActive" />
      <label for="isActive" class="form-check-label">
        Active
      </label>
    </div>

    <div class="modal-actions">
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      <button type="submit" class="btn btn-primary">
        {{ mode === 'create' ? 'Add' : 'Update' }}
      </button>
    </div>
  </form>
</div>




































